.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .resetButton {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
  }
  
  .resetButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }